// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-crop-preview {
  float         : left;
  margin-right  : 20px;
  margin-bottom : 20px;
}

.user-crop-area {
  float         : left;
  margin-bottom : 20px;
}

.clear {
  clear : both;
}
